<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid px-3">
    <a class="navbar-brand fw-bold text-white" routerLink="/">COWO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-3 align-items-center">

        <!-- Dropdown Admin -->
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle text-warning fw-semibold" href="#" data-bs-toggle="dropdown">
            Administration
          </a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" routerLink="/stats">Statistiques</a></li>
            <li><a class="dropdown-item" routerLink="/admin/spaces">Espaces</a></li>
            <li><a class="dropdown-item" routerLink="/admin/users">Utilisateurs</a></li>
          </ul>
        </li>

        <!-- Avatar + prénom -->
        <li class="nav-item dropdown d-flex align-items-center gap-2" *ngIf="isLoggedIn()">
          <img [src]="avatarUrl || defaultAvatar" alt="Avatar" class="rounded-circle shadow-sm border" width="38" height="38"
               data-bs-toggle="dropdown" style="cursor: pointer;">
               <a class="nav-link dropdown-toggle text-white fw-semibold fs-5" href="#" data-bs-toggle="dropdown">
                {{ userFirstName }}
              </a>
              
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" routerLink="/profile">Mon compte</a></li>
            <li><a class="dropdown-item" routerLink="/reservation">Réservations</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" (click)="logout()">Déconnexion</a></li>
          </ul>
        </li>

        <!-- Si non connecté -->
        <ng-container *ngIf="!isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">Connexion</a>
          </li>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>
