.map-container {
  height: 100vh;
  display: flex;
}

.map-sidebar {
  width: 400px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.scrollable-list {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.map-main {
  flex: 1;
  height: 100vh;
}
.custom-div-icon {
  background: none;
  border: none;
}

.marker-pin i {
  display: inline-block;
  transform: translateY(-10%);
}
