<footer class="footer bg-dark text-white pt-3 pb-2 mt-auto">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <h5 class="text-warning">Mentions Légales</h5>
          <p><a href="/cgu" class="text-white text-decoration-none">Conditions d'utilisation</a></p>
          <!-- <p><a href="#" class="text-white text-decoration-none">Politique de confidentialité</a></p> -->
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <h5 class="text-warning">Contact</h5>
          <p><a href="/contact" class="text-white text-decoration-none">Nous contacter</a></p>
          <!-- <p><a href="#" class="text-white text-decoration-none">Support</a></p> -->
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <h5 class="text-warning">À Propos</h5>
          <p><a href="/our-story" class="text-white text-decoration-none">Notre histoire</a></p>
          <!-- <p><a href="#" class="text-white text-decoration-none">Équipe</a></p> -->
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <h5 class="text-warning">Réseaux Sociaux</h5>
          <p><a href="#" class="text-white text-decoration-none">Facebook</a>/ <a href="#" class="text-white text-decoration-none">Instagram</a> / <a href="#" class="text-white text-decoration-none">Twitter</a></p>
          <!-- <p><a href="#" class="text-white text-decoration-none">Instagram</a></p> -->
          <!-- <p><a href="#" class="text-white text-decoration-none">Twitter</a></p> -->
        </div>
      </div>
      <hr class="border-secondary">
      <div class="text-center pt-1 small">
        <p>&copy; {{ currentYear }} - Coworking App. Tous droits réservés.</p>
      </div>
    </div>
  </footer>
  