<app-navbar></app-navbar>
<router-outlet></router-outlet>  <!-- Toutes les pages comme home, login... s'affichent ici -->
<!-- Bas de page -->
<!-- Footer -->
<footer class="footer mt-5">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h5>Mentions Légales</h5>
                <p><a href="#">Conditions d'utilisation</a></p>
                <p><a href="#">Politique de confidentialité</a></p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h5>Contact</h5>
                <p><a href="#">Nous contacter</a></p>
                <p><a href="#">Support</a></p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h5>À Propos</h5>
                <p><a href="#">Notre histoire</a></p>
                <p><a href="#">Équipe</a></p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h5>Réseaux Sociaux</h5>
                <p><a href="#">Facebook</a></p>
                <p><a href="#">Instagram</a></p>
                <p><a href="#">Twitter</a></p>
            </div>
        </div>
        <hr>
        <div class="text-center py-3">
            <p>&copy; 2025 - Coworking App. Tous droits réservés.</p>
        </div>
    </div>
</footer>