<div class="container mt-5 text-center">
  <h2 class="mb-4">Tableau de Bord Administrateur</h2>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <button class="admin-btn" routerLink="'/admin-users'">
        👤 Gestion des Utilisateurs
      </button>


    </div>
    <div class="col-md-4 mb-4">
      <button class="admin-btn" routerLink="/admin-reservations">
        📅 Gestion des Réservations
      </button>
    </div>
    <div class="col-md-4 mb-4">
      <button class="admin-btn" routerLink="/admin-spaces">
        🏢 Gestion des Espaces
      </button>
    </div>
  </div>
</div>
